<div class="view">
  <input
    type="checkbox"
    class="toggle"
    checked={{todo.completed}}
    onchange={{action 'toggleCompleted'}}>
  <label
    ondblclick={{action 'startEditing'}}
    class="{{if todo.dateMade 'red'}}">
    {{todo.title}}
  </label>
  <div class="date">
    {{#if todo.enableCalendar}}

      {{#unless todo.showCalendar}}
        <button onclick={{action 'showCalendar'}}>
          <img src="/iconmonstr-calendar.svg" alt="calendar">
        </button>
      {{else}}
        {{
          ember-flatpickr
          onChange=(action (mut dateValue))
          placeholder='Choose a Date'
          static=true
          onClose='redColor'
          value=(readonly todo.date)
        }}
      {{/unless}}
    {{else}}
    {{/if}}
  </div>
  <button
    onclick={{action 'removeTodo'}}
    class="destroy">
  </button>
</div>
<input
  type="text"
  class="edit"
  value={{todo.title}}
  onblur={{action 'doneEditing' value='target.value'}}
  onkeydown={{action 'handleKeydown'}}
  autofocus>